.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(100, 100, 100);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .product-item h2 {
    color: #fefefe;
    font-size: 24px;
  }
  
  .product-item span {
    color: #dbdbdb;
    font-size: 24px;
  }